/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
# rspec failure tracking
.rspec_status
/docker/*
*.env
dev-entrypoint
/docker-compose.*
