/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.DS_Store
# rspec failure tracking
.rspec_status
/docker/*
*.env
dev-entrypoint
/docker-compose.*
example-app/docker/*
example-app/*.env
example-app/dev-entrypoint
example-app/docker-compose.*
/*.gem